# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.venv/

# IDE-specific files
.idea/
.vscode/

# Ignore all .log files except those in the logs/ directory
*.log
!logs/*.log
*.sqlite

# Compiled Python files
*.pyc

# Temporary files
*.swp
.DS_Store

test.py

